var imgFilter = function(e=''){
  var a = getRegExp('<img[^>]*>', 'ig');
  var result=e.replace(a, function (match, capture) {
    var c = getRegExp('<img', 'ig');
    match = match.replace(c, '<img style=""');
    var d = getRegExp('style\s*?=\s*?([‘"])[\s\S]*?\1', 'ig');
    return match.replace(d, 'style="max-width:100%;height:auto;"') // 替换style
  });
  return result
}
var imgSplit= function(e=''){
  var data = e.split(",")
  // console.log(e);
  return data
}
var diaplayTime = function(dateTimeStamp){
  // console.log(dateTimeStamp)
  // console.log(124)
  var c = getRegExp('-', 'ig');
  var newdateTimeStamp = dateTimeStamp.replace(c, '/')
      newdateTimeStamp=getDate(newdateTimeStamp).getTime()
  var result;
  var minute = 1000 * 60;
  var hour = minute * 60;
  var day = hour * 24;
  var halfamonth = day * 15;
  var month = day * 30;
  var now = getDate();
  var curTime = getDate(newdateTimeStamp);
  var diffValue = now - curTime;
  if (diffValue < 0) {
    return;
  }
  var monthC = diffValue / month;
  var weekC = diffValue / (7 * day);
  var dayC = diffValue / day;
  var hourC = diffValue / hour;
  var minC = diffValue / minute;
  if (monthC >= 1) {
    if (monthC <= 12)
      result = "" + parseInt(monthC) + "月前";
    else {
      // result = "" + parseInt(monthC / 12) + "年前";
      result = dateTimeStamp;
    }
  }
  else if (weekC >= 1) {
    result = "" + parseInt(weekC) + "周前";
  }
  else if (dayC >= 1) {
    result = "" + parseInt(dayC) + "天前";
  }
  else if (hourC >= 1) {
    result = "" + parseInt(hourC) + "小时前";
  }
  else if (minC >= 1) {
    result = "" + parseInt(minC) + "分钟前";
  } else {
    result = "刚刚";
  }

  return result;
}
var dealstatus = function (dealstatus){
  console.log(dealstatus)
  switch (dealstatus){
    case '0' :
      return '待处理';
      break;
    case '1' :
      return '处理中';
      break;
    case '2' :
      return '处理结束';
      break;
    case '-1' :
      return '已取消'
      break;
  }
}
module.exports = {
  imgFilter:imgFilter,
  imgSplit: imgSplit,
  diaplayTime: diaplayTime,
  dealstatus: dealstatus
}